.home-container{
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.home-container-1{
    width: 25%;
}

.home-container-2{
    width: 50%;
    padding-top: 30px;
}

.home-container-3{
    width: 25%;
    padding-top: 30px;
}