.left-sidebar{
    height: 100vh;
    margin-right: 30px;
    border-right: solid 0px black;
    font-size: 14px;
    padding-left: 30px;
}

.side-nav{
    height: auto;
    max-width: 100%;
    position: sticky;
    margin: 50px 0px;
    padding: 20px 0px;
}

.side-nav-div{
    padding: 10px 0px;
}

.side-nav-div div{
    padding-left: 10px;
}

.side-nav-links{
    text-decoration: none;
    color: #3a3a3a;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10px;
    transition: 0.2s;
    font-size: medium;
    font-weight: 600;
}

.side-nav-links:hover{
    color: black;
}

.active{
    font-weight: bolder;
    color: black;
    background-color: rgb(225,225,225);
    border-right: solid 3px #ef8236;
}

.public{
    font-weight: 700;
}